.about-home-intro {
    position: relative; 
    display: flex;
    justify-content: left;
    align-items: center;
    height: 42vh;
    margin-top: 0;
    background-image: url('/images/international-moving-bg.jpg');
    background-size: half;
    background-position: center;
    background-repeat: no-repeat;
}

.mission-section {
  padding: 60px 0;
  background-color: var(--bg-white);
  display: flex;
  justify-content: center;
  width: 100%;
}

.mission-image img {
  max-width: 100%;
  object-fit: cover;
}

.mission-text {
  max-width: 570px;
  font-family: var(--font-family);
}

.mission-text h2 {
  font-size: 30px;
  color: var(--text-primary);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.what-different .home-content-container {
  padding-bottom: 40px;
}

.what-different {
  margin-top: 1.5rem;
}


.what-different .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.what-different .section-header-extra-content {
  max-width: 1px;
  width: 100%;
  
}

.what-different .section-header h2 {
  font-size: 30px;
  color: var(--text-primary);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.what-different .info-board-icon {
  color: var(--text-primary);
}

.what-different .info-board-title {
  color: var(--text-primary);
}

@media (min-width: 768px) {
  .mission-text {
    max-width: 400px;
  }

  .mission-image img {
    max-width: 500px;
  }

  .what-different .section-header-extra-content {
    max-width: 50px;
  }

}

@media (min-width: 1225px) {
  .what-different .section-header-extra-content {
    max-width: 200px;
  }
}