@import url('https://fonts.googleapis.com/css2?family=Brandon+Grotesque:wght@400&display=swap');

.footer {
    background-color: #007A78;
    color: white;
    font-family: 'Sarabun', sans-serif;
    padding-inline: 40px;
    padding-top: 70px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-container {
    max-width: 1140px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.footer-main {
    flex: 1.5;
    margin: 0;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-logo img {
    height: 5rem;
    margin-bottom: 1rem;
    margin-top: 0;
    margin-right: 30px;
}

.footer-mid-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.footer-section h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 4rem;
}

.footer-section ul p {
    margin-top: 0;
    margin-bottom: 0.75rem;
    text-align: left;
    font-weight: 700;
}

.footer-section ul li {
    margin-bottom: 0.75rem;
    text-align: left;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #e5e7eb;
}

.social-icons {
    gap: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #e5e7eb;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    font-family: 'Sarabun', sans-serif;
}
/* Mobile Breakpoint */
@media screen and (max-width: 825px) {
    .footer-main {
        flex-direction: column;
        align-items: start;
    }

    .footer-mid-links {
        flex-direction: column;
        align-items: start;
        margin-bottom: 2em;
    }

    .footer-section:last-child {
        align-self: end;
    }

    .footer-section ul p {
        margin-top: 0.5rem;
    }
}