.services-board-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
    justify-self: center;
}

.services-board-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 22px;
    gap: 2em;
    max-width: 700px;
}

.services-board-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-board-image img{
    width: 100%;
    /* vertical-align: middle;
    justify-content: center;
    max-width: 400px; */
}

.services-board-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;  
    /* max-width: 400px;  */
}

.services-board-title {
    font-size: 1rem;
    font-weight: 700;
    /* color: var(--secondary-color); */
    margin-bottom: 0.1rem;
}

.services-board-description {
    /* color: var(--text-primary); */
}

/* .warehousing-text h2 {
    font-size: 1rem;
} */


@media (min-width: 768px) {
    .services-board-grid {
        grid-template-columns: repeat(2, 2fr);
    }

    /* .warehousing-text {
        max-width: 1024px;
    } */
  }

@media  (min-width: 1024px) {
    .services-board-grid {
        grid-template-columns: repeat(2, 2fr);
        justify-self: center;
        padding-inline: 80px;
      }

    .warehousing-text {
        max-width: 768px;
    }
}

@media (min-width: 1440px) {
    .services-board-grid {
        grid-template-columns: repeat(2, 1fr);   
        max-width: 1920px;   
    }

    .warehousing-text {
        max-width: 1024px;
    }
}