.services-board-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
    justify-self: center;
    width: 100%;
}

.services-board-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    /* padding: 1.25rem; */
    gap: 1.5rem;
    max-width: 700px;
    width: 100%;
}

.services-board-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;
    width: 100%;
}

.services-board-image img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.services-board-content {
    display: grid;
    grid-template-rows: auto auto; /* Title, meta, description, button */
    gap: 0.75rem;
    height: 100%;
}

.services-board-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
    height: 3.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.contact-text h2 {
    font-weight: 500;
    line-height: 1.3;
    font-size: 38px;
}

.footer-cbm-section {
    position: relative;
    padding: 60px 0;
    color: white;
    overflow: hidden;
  }

.footer-cbm-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(74, 4, 4, 0.8), rgba(74, 4, 4, 0.8)), url("/images/freight-forwarding-bg.jpg");
    background-size: cover;
    background-position: center;
    background-color: #4a0404;
    opacity: 0.6;
    z-index: -1;
  }

.home-content-container-cbm {
    padding-inline: 20px;
    max-width: 1140px;
    margin: 0 auto;
}

.footer-cbm-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
}

.footer-cbm-text p {
    margin-top: 1rem;
}

.footer-cbm-button button {
    background-color: #333;
}

@media (min-width: 768px) {
    .services-board-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-cbm-content {
        flex-direction: row;
        align-items: center;
    }
  }

@media  (min-width: 1024px) {
    .services-board-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
        padding-inline: 80px;
      }

    .services-board-item {
        max-width: 600px;
        justify-self: center;
    }

    .warehousing-text {
        max-width: 768px;
    }
}

@media (min-width: 1440px) {
    .services-board-grid {
        max-width: 1440px;
        gap: 4rem;
    }

    .warehousing-text {
        max-width: 1024px;
    }
}